/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: ;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/* visitor count section start */
.section-countup {
  padding: 80px 0;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
}
p.counter-number {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
.single-counter-box {
  text-align: center;
}
/* visitor count section Stop */